@font-face {
    font-family: "Candara";
    src: url("./assets/fonts/candara.woff") format('woff');
}

@font-face {
    font-family: "Candara Bold";
    src: url("./assets/fonts/candarab.woff") format('woff');
}

@font-face {
    font-family: "Minion Pro Regular";
    src: url("./assets/fonts/MinionPro-Regular.woff") format('woff');
}

@font-face {
    font-family: "Wingding";
    src: url("./assets/fonts/wingding.woff") format('woff');
}

html {
    font-size: 16px; 
    box-sizing: border-box;
}

body {
    font-family: "Candara Bold";
    overflow: hidden;
    color: #fff;
    padding: 0;
    margin: 0;
    background-image: url("./assets/images/grass.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    /* border: 1px solid orange; */
}

h1 {
    font-size: 8rem;
    text-align: center;
    padding-top: 0.3rem;
    margin: 0 auto;
    line-height: 0.85;
    text-shadow: 4px 4px #000000;
    /* border: 1px solid red; */
}

h2 {
    font-size: 6rem;
    margin: 0 auto;
    padding-bottom: 1.725rem;
    text-align: center;
    text-shadow: 4px 4px #000000;
    /* border: 1px solid magenta; */
}

#scoreboard {
    display: grid;
    font-size: 3rem;
    color: #000;
    margin: 0 5%;
    gap: 0.5em;
    /* border: 1px solid magenta; */
}

.scoreboardRow {
    display: grid;
    gap: 0.25em;
    grid-template-columns: 1fr 10fr 2.5fr 4fr;
    /* border: 1px solid red; */
}

.bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid black;
    border-radius: 2em;
    background: #fff;
    box-shadow: 2px 2px #000;
}

.entryField { 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff; 
    border-radius: 0.075em;
}

.score, 
.speed {
    text-align: center;
}
/* .speed { width: 3rem } */


