body {
    padding: 0;
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: sans-serif;
    color: #eee;
    background: #09006f;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    padding-top: 2rem;
}

img {
    width: 8rem;
    animation: rotate;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

h1 { 
    text-align: center;
    font-size: 3rem;
    padding: 0 2rem;
}

form {
    display: grid;
    padding: 2rem;
    grid-template-columns: 4fr 20fr;
    grid-template-areas: 
        "firstNameLabel firstNameInput"
        "initialLabel   initialInput"
        "scoreLabel     scoreInput"
        ".............. bttns"
    ;
    margin: 2rem auto;
    gap: 0.75rem;
}

label { 
    white-space: nowrap;
    padding-right: 1rem; 
}

input {
    font-size: 1.25rem;
    padding: 0.25rem;
    background: #efefef;
}

#firstNameLabel { grid-area: firstNameLabel }
#firstNameInput { grid-area: firstNameInput }
#initialLabel { grid-area: initialLabel }

#initialInput { 
    grid-area: initialInput;
    width: 2rem;   
}

#scoreLabel { grid-area: scoreLabel }

#scoreInput { 
    grid-area: scoreInput;
    width: 5rem;     
}
 
#formBttns { 
    grid-area: bttns;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

button {
    border: none;
    border-radius: 0.33rem;
    padding: 0.5rem;
    font-weight: bold;
    color: #252525;
    font-size: 1.275rem;
}

button:hover { cursor: pointer }

#saveBttn { background: #0f0 }
#undoBttn { background: #f80 }
#deleteAllBttn { background: #f00 }



