:root {
    --skewAmount: 15deg;
    --positiveSkew: calc(var(--skewAmount) * -1);
    --negativeSkew: calc(var(--skewAmount) * 1);
}

html {
    font-size: 5px; 
    box-sizing: border-box;
}

body {
    font-family: "Play";
    overflow: hidden;
    color: #fff;
    padding: 0;
    margin: 0;
    background: rgb(4, 12, 22);
    height: 100vh;
    background-size: cover;
}

h1 {
    font-size: 8rem;
    text-align: center;
    padding-top: 3rem;
    margin: 0 auto;
    line-height: 0.85;
    text-shadow: 4px 4px #000000;
}

h2 {
    font-size: 6rem;
    margin: 0 auto;
    padding-bottom: 3.5rem;
    text-align: center;
    text-shadow: 4px 4px #000000;
}

#scoreboard {
    display: grid;
    font-size: 3rem;
    color: #000;
    margin: 0 5%;
    gap: 0.5em;
    /* border: 1px solid magenta; */
}

.scoreBoardRow {
    color: orange;
    height: 6rem;
    padding: 0rem;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 23fr;
    width: 90vw;
}

.scoreboardBanner {
    color: rgb(202, 202, 202);
    height: 4rem;
    display: grid;
    padding: 1rem 4rem;
    gap: 0.25em;
    grid-template-columns: 1fr 10fr 4fr 4fr;
    background: rgb(0, 27, 63);
    transform: skew(var(--positiveSkew));
    border-radius: 0.75rem;
    border: 1px solid rgba(105, 158, 255, 0.212);
}

.rank {
    font-size: 2rem;
    margin: 0;
    padding-right: 1rem;
    display: grid;
    place-items: center;
    width: 1.5em;
    height: 1.5em;
    /* border: 1px solid green; */
}

.scoreboardBanner.odd {
    background:rgba(3, 22, 41, 0.5);
}

.scoreboardBanner.even {
    background:rgba(23, 15, 49, 0.5);
}

.flagContainer {
    display: grid;
    place-items: center;
    transform: skew(var(--negativeSkew))
}

.flag {
    width: 6rem;
    padding: 0;
    margin: 0;
}

.entryField {
    display: flex;
    justify-content: flex-start;
    padding-left: 4rem;
    border-radius: 5rem;
    transform: skew(var(--negativeSkew));
}

.score, 
.speed {
    text-align: right;
}

.units {
    display: block;
    margin-top: 0.333em;
    padding-bottom: 0;
    margin-left: 1rem;
    font-size: 0.75em;
    color: orange;
}


