:root {
    --scoreboard-template-areas: "rank country name points speed ..";
    --scoreboard-template-columns: 3fr 6fr 20fr 6fr 6fr 3fr;
}

h1 {
    font-size: 6rem;
    text-align: center;
    padding-top: 1rem;
    margin: 0 auto;
    line-height: 0.95;
}

h2 {
    font-size: 4rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    text-align: center;
}

.scoreboard {
    display: grid;
    gap: .6rem;
    font-size: 2rem;
    margin: 0 auto;
    width: 95vw;
    background: rgba(0, 0, 0, 0.175);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.scoreboardHeader {
    display: grid;
    font-size: 1.5rem;
    grid-template-areas: var(--scoreboard-template-areas);
    grid-template-columns: var(--scoreboard-template-columns);
}

.scoreboardHeaderRankLabel {
    grid-area: rank;
    color: orange;
}

.scoreboardHeaderCountryLabel {
    grid-area: country;
}

.scoreboardHeaderNameLabel { 
    grid-area: name;
}

.scoreboardHeaderPointsLabel { 
    grid-area: points;
}

.scoreboardHeaderSpeedLabel { 
    grid-area: speed; 
}

.scoreboardRow {
    width: 100%;
    height: 6vh;
    display: grid;
    grid-template-areas: var(--scoreboard-template-areas);
    grid-template-columns: var(--scoreboard-template-columns);
}

.scoreboardRowBanner {
    grid-area: country / country / country / speed;
    
    transform: skew(var(--positiveSkew));
    border-radius: 0.5rem;
    border: 1px solid rgba(105, 158, 255, 0.212);
}

.scoreboardRowBanner.odd {
    background:rgba(3, 22, 41, 0.5);
}

.scoreboardRowBanner.even {
    background:rgba(23, 15, 49, 0.5);
}

.centerAlign {
    display: grid;
    place-items: center; 
}

.leftAlign {
    display: grid;
    align-items: left;
    align-content: center;
}

.rank {
    grid-area: rank;
    margin: 0 auto;
    display: grid;
    color: orange;
    place-items: center;
}

.country {
    grid-area: country;
    display: grid;
    place-items: center;
}
.flag { 
    max-width: 2.5em;
    filter: brightness(0.9); 
}

.name   { 
    grid-area: name;
}
.points { 
    grid-area: points;
}
.speed  { 
    grid-area: speed;
}

.zIndex1 { z-index: 1 }

.zIndex2 { z-index: 2 }
