:root {
    --scoreboard-template-areas:  "rank  name points speed country .....";
    --scoreboard-template-columns: 6rem 16fr 4fr    4fr   5fr    6rem ;
}

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 1rem;
    margin: 0 auto;
    line-height: 0.95;
}

h2 {
    font-size: 4rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    text-align: center;
}

.scoreboard {
    display: grid;
    gap: .5rem;
    font-size: 2rem;
    margin: 0 auto;
    width: 95vw;
    /* background: rgba(0, 0, 0, 0.175); */
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.scoreboardHeader {
    display: grid;
    font-size: 1.5rem;
    grid-template-areas: var(--scoreboard-template-areas);
    grid-template-columns: var(--scoreboard-template-columns);
}

.scoreboardHeaderRankLabel {
    grid-area: rank;
    color: orange;
}

.scoreboardHeaderCountryLabel {
    grid-area: country;
}

.scoreboardHeaderNameLabel { 
    grid-area: name;
}

.scoreboardHeaderPointsLabel { 
    grid-area: points;
}

.scoreboardHeaderSpeedLabel { 
    grid-area: speed; 
}

.scoreboardRow {
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-areas: var(--scoreboard-template-areas);
    grid-template-columns: var(--scoreboard-template-columns);
}

.scoreboardRowBanner {
    grid-area: name / name / name / country;
    
    transform: skew(var(--positiveSkew));
    border-radius: 0.5rem;
    border: 1px solid rgba(105, 158, 255, 0.212);
}

.scoreboardRowBanner.odd {
    background:rgba(3, 22, 41, 0.5);
}

.scoreboardRowBanner.even {
    background:rgba(23, 15, 49, 0.5);
}

.centerAlign {
    display: grid;
    place-items: center; 
}

.leftAlign {
    display: grid;
    align-items: left;
    align-content: center;
}

.leftPadding {
    padding-left: 2rem;
}

.rank {
    grid-area: rank;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "rank";
    place-items: center;
}

.rankStar {
    padding: 0;
    width: 3rem;
    grid-area: rank;
}

.rankValue {
    grid-area: rank;
    display: grid;
    place-items: center;
    transform: translateY(5%);
}

.country {
    grid-area: country;
    display: grid;
    place-items: center;
}
.flag { 
    max-width: 4rem;
    filter: brightness(0.9); 
}

.name   { 
    grid-area: name;
}
.points { 
    grid-area: points;
}
.speed  { 
    grid-area: speed;
}

.zIndex1 { z-index: 1 }

.zIndex2 { z-index: 2 }
