body {
    display: grid;
    place-items: center;
    user-select: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    padding-top: 2rem;
}

img {
    width: 8rem;
    padding: 0;
    margin: 0;
}

h1 { 
    text-align: center;
    font-size: 3rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    width: 30rem;
}

form {
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        "firstNameLabel firstNameInput firstNameInput firstNameInput firstNameInput"  
        "initialLabel   initialInput   initialInput   initialInput   initialInput"    
        "countryLabel   countrySelect  countrySelect  countrySelect  countrySelect"
        "pointsLabel    pointsInput    pointsInput    pointsInput    pointsInput"
        "mphLabel     mphInput     mphInput     mphInput     mphInput"
        ".....          bttns          bttns          bttns          bttns"
    ;
    gap: 0.75rem;
}

label {
    white-space: nowrap;
    font-size: 1rem;
}

label:focus {
    outline: none;
}

input, 
select {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    background: #e6e6e6;
    border: none;
    border-radius: 0.15rem;
}

input:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0px 2px magenta;
}

.firstNameLabel { grid-area: firstNameLabel }
#firstNameInput { grid-area: firstNameInput }

.initialLabel { grid-area: initialLabel }
#initialInput { grid-area: initialInput }

.countryLabel { grid-area: countryLabel }
#countrySelect { grid-area: countrySelect }

.pointsLabel { grid-area: pointsLabel }
#pointsInput { grid-area: pointsInput }    

.mphLabel { grid-area: mphLabel }
#mphInput { grid-area: mphInput }
 
.bttns { 
    grid-area: bttns;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    border-radius: 0.33rem;
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: #252525;
    min-width: 33%;
}

button:hover { 
    cursor: pointer;
    box-shadow: 0 0 0px 2px magenta;
}

#saveBttn { background: #0f0 }
#undoBttn { background: #f80 }
#deleteAllBttn { background: #f00 }